{% extends 'base.html' %}

{% block head %}
<style>
    .first-place td {
        font-weight: bold;
        background-color: {% if g.navbar_bg is defined %}{{ g.navbar_bg }}{% else %}#E00024{% endif %}50;
    }

    td.numbers, th.numbers {
        text-align: right;
        padding-right: 5%;
    }

    td.numbers {
        font-family: monospace;
        font-size: 13pt;
    }

    a {
        color: inherit;
    }
</style>
{% endblock %}

{% block header %}
<hr>
<div class="container">
    <div class="row">
        <div style="width: 90%">
            <h1>Szczegóły gry ({{ date }})</h1>
        </div>
        {% if g.user['username'] == 'admin' %}
        <div style="width: 10%; text-align: right;">
            <a href="{{ url_for('game.remove', game_id=game_id) }}">usuń</a><br>
            <a href="#" id="change-date">zmień datę</a>
        </div>
        {% endif %}
    </div>
</div>
<hr>
{% endblock %}

{% block content %}
<table class="table table-hover table-striped shadow p-3 mb-5 bg-white rounded">

    <thead class="thead-dark">
        <tr>
            <th style="width: 7%;"></th>
            <th style="width: 31%;">gracz</th>
            <th style="width: 31%;" class="numbers">liczba punktów</th>
            <th style="width: 31%;" class="numbers">strata</th>
        </tr>
    </thead> 
    <tbody>
    {% for player in players %}
        
        <tr class="{% if loop.index == 1 %}first-place{% endif %}">
            <td>
                {{ loop.index }}
            </td>
            <td>
                <a href="{{ url_for('user.profile', username=player.username) }}">{{ player.username }}</a>
            </td>
            <td class="numbers">
                {{ player.score }}
            </td>
            <td class="numbers">
                {{ player.lost }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{{ url_for('static', filename='ajaxify.js') }}"></script>
<script>
    document.getElementById("change-date").addEventListener("click", askChangeDate);

    function askChangeDate() {
        input_data = {}
        input_data['new_date'] = prompt("Wprowadź nową datę w formace YYYY-MM-DD", "{{ date }}")
        console.log(input_data['new_date'])
        send_ajax("{{ url_for('game.update_date', game_id=game_id) }}")
    }
</script>
{% endblock %}