{% extends 'base.html' %}

{% block title %}Panel użytkownika{% endblock %}

{% block content %}
<div class="container">
    {% if g.user['username'] == 'admin' %}
    <div class="row align-items-center mt-3 mb-3 border-bottom">
        <div class="col mb-3">
            <a href="{{ url_for('auth.register') }}" class="mr-5"><button type="submit" class="btn btn-outline-danger btn-lg" id="add-user">Dodaj użytkownika</button></a>
        </div>
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('manage.change_password') }}">
    <div class="row align-items-center mt-3 mb-3 border-bottom">
        <div class="col mb-3">
            <a href="#" class="mr-5"><button type="submit" class="btn btn-outline-danger btn-lg">Zmień hasło</button></a>
        </div>
        <div class="col mb-3">
            <input type="password" name="password" required>
        </div>
    </div>
    </form>
    <form method="POST" action="{{ url_for('user.change_bg_navbar') }}">
    <div class="row align-items-center mt-3 mb-3 border-bottom">
        <div class="col mb-3">
            <a href="#" class="mr-5"><button type="submit" class="btn btn-outline-danger btn-lg">Zmień tło górnej belki</button></a>
        </div>
        <div class="col mb-3">
            <input id="navbar-bg-color-picker" class="jscolor" name="bg_navbar_color" value="{{ g.navbar_bg }}">
        </div>
    </div>
    </form>
</div>
{% endblock %}
{% block scripts_bottom %}
    <!--To create color pickers-->
    <script src="{{ url_for('static', filename='jscolor.js') }}"></script>
{% endblock %}}